In [ ]:
#본 내용은 kaggle Intro to Machine Learning course(by Dan Becker)를 기록해 놓은 것임을 밝힙니다. (https://www.kaggle.com/dansbecker/basic-data-exploration)

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')
#구글 코랩환경 드라이브 연결

Mounted at /content/drive

# Using Pandas to Get Familiar With Your Data

In [ ]:
import pandas as pd

In [ ]:
#파일 경로 변수 저장
melbourne_file_path = '/content/drive/MyDrive/Intro to Machine Learning(kaggle)/data/melb_data.csv'

In [ ]:
# melbourne_data라는 제목의 csv DataFrame 읽기, 저장하기
melbourne_data = pd.read_csv(melbourne_file_path) 
# data의 요약 출력/다양한 통계값 melbourne_data라는 제목의 csv DataFrame 읽기, 저장하기
melbourne_data = pd.read_csv(melbourne_file_path) 
# data의 요약 출력/다양한 통계값
melbourne_data.describe()

              Rooms         Price  ...    Longtitude  Propertycount
count  13580.000000  1.358000e+04  ...  13580.000000   13580.000000
mean       2.937997  1.075684e+06  ...    144.995216    7454.417378
std        0.955748  6.393107e+05  ...      0.103916    4378.581772
min        1.000000  8.500000e+04  ...    144.431810     249.000000
25%        2.000000  6.500000e+05  ...    144.929600    4380.000000
50%        3.000000  9.030000e+05  ...    145.000100    6555.000000
75%        3.000000  1.330000e+06  ...    145.058305   10331.000000
max       10.000000  9.000000e+06  ...    145.526350   21650.000000

[8 rows x 13 columns]

#Interpreting Data Description

* count: data 행의 수(결측값x)
* mean: 평균
* std: 표준 편차(값의 수치적 분포 정도)
* min, max: 최대, 최소 
* 25%, 50%, 75%: 백분위수 count: data 행의 수(결측값x)
* mean: 평균
* std: 표준 편차(값의 수치적 분포 정도)
* min, max: 최대, 최소 
* 25%, 50%, 75%: 백분위수