In [ ]:
#본 내용은 kaggle Intro to Machine Learning course(by Dan Becker)를 기록해 놓은 것임을 밝힙니다. (https://www.kaggle.com/dansbecker/basic-data-exploration)

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')
#구글 코랩환경 드라이브 연결

Mounted at /content/drive

#Selecting Data for Modeling

In [ ]:
import pandas as pd

melbourne_file_path = '/content/drive/MyDrive/Intro to Machine Learning(kaggle)/data/melb_data.csv'
melbourne_data = pd.read_csv(melbourne_file_path) 
melbourne_data.columns
#column들을 print

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [ ]:
# 간단한 결측값 처리/ 열에 있는 결측값 drop
melbourne_data = melbourne_data.dropna(axis=0)

**select a subset of your data**


1.   Dot notation: "prediction target" 선택
2.   Selecting with a column list: "features" 선택

# Selecting The Prediction Target

In [ ]:
y = melbourne_data.Price #dot-notation 타겟변수 설정

# Choosing "Features"

features: 모델에 입력되고 후에 예측을 위해 사용되는 열, 많다고 무조건 더 나은 결과를 얻을 수 있는것은 아니다.

In [ ]:
#[]안에 열이름 목록 작성(문자열)
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
X = melbourne_data[melbourne_features]
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [ ]:
X.head() #검토

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

# Building Your Model

scikit-learn: 일반적으로 저장되는 데이터 유형을 모델링하는 데 가장 널리 사용되는 라이브러리

모델 구축 및 사용단계
* Define: 어떤 유형의 모델인지
* Fit: 제공된 데이터에서 패턴 포착
* Predict: 예측
* Evaluate: 모형의 예측이 얼마나 정확한지 평가

In [ ]:
from sklearn.tree import DecisionTreeRegressor
# 모델 정의. random_state의 숫자를 지정->각 실행 결과 동일
melbourne_model = DecisionTreeRegressor(random_state=1)
# Fit model
melbourne_model.fit(X, y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

많은 ML은 model training에서 일부 무작위성을 허용함. 따라서 random_state에 대한 숫자를 지정하면 각 실행에서 동일한 결과를 얻을 수 있다.

In [ ]:
#예측함수 작동방식 확인
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(melbourne_model.predict(X.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]